/*Aquí aplicamos una fuente a todo el texto dentro del body*/
body{
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
}
/*Fin*/
/*------------------------------------------------------------------------------------------------------------*/
/* Aqui colocó el color de mi encabezado de todas las paginas*/
header{
    background-image: linear-gradient(to right top, #255295, #0079b6, #00a1cf, #35c8e0, #74eeed);
    padding: 20px 0;
}

/*Aquí definimos la posición y tamaño del encabezado*/
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

/*Aca especificamos la posición de los elementos de navegación del encabezado*/
nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 17px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: 0;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
/*Fin encabezado*/
/*------------------------------------------------------------------------------------------------------------*/
/*Acá definimos widht, margin, box y demas de la pagina Productos*/
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

/*hover: Cuándo el cursor se coloca sobre el elemento, este cambia sus propiedades segun yo las establezca*/
.productos li:hover{
    border-color: #c78c19;
}
/*Fin del hover*/


/*active: Cuándo hagó click sobre el elemento, este cambia sus propiedades hasta que deje de hacer click*/
.productos li:active{
    border-color: #ff0000;
}
/*Fin de active*/

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
/*Fin productos*/
/*------------------------------------------------------------------------------------------------------------*/
/*Acá colocamos el pie de pagina y su estilo*/
footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}
/*Fin pie de pagina*/
/*------------------------------------------------------------------------------------------------------------*/

/*Aquí inicia mi formulario de contacto de la pagina Contacto*/
form{
    margin: 40px 40px;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px 25px;
    width: 50%;
}
/*Fin formulario de pagina contacto*/
/*------------------------------------------------------------------------------------------------------------*/
/*Acá empieza la lista desplegable*/
.options:hover{
    background-color: orange;
}

.options{
    padding: 4px 2px;
}
/*Fin lista desplegable*/
/*------------------------------------------------------------------------------------------------------------*/
/*Le gustaria recibir info al email*/
.checkbox{
    margin: 20px 0;
}
/*Fin recibir info*/
/*------------------------------------------------------------------------------------------------------------*/
/*Boton enviar*/
.enviar{
    width: 40%;
    margin: 0 40px;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background: rgb(253, 190, 72);
    border: 0;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.1);
}
/*Fin boton enviar*/
/*------------------------------------------------------------------------------------------------------------*/
/*Tabla de horarios*/
table{
    border: 2px solid #000000;
    margin: 40px 40px;
}

thead{
    background-color: grey;
    color: #FFFFFF;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 5px 8px;
}
/*Fin tabla de horarios*/
/*------------------------------------------------------------------------------------------------------------*/
/*Aquí inicia la CSS para pagina home el encabezado ya esta colocado de forma generica para todas las paginas*/
/*------------------------------------------------------------------------------------------------------------*/
/*Imagen debajo del encabezado*/
.banner{
    width: 100%;
}
/*Tambien podemos poner width: calc(40% - (26px * 4)); */
/*Fin banner*/

/*
/*Aquí aplicamos color solo al primer parrafo despues del main
main > p{
    background: red;
}
/*--------------------------------*/

/*Aquí aplicamos color solo al primer (p) parrafo despues del img
img + p{
    background: blue; 
}*/


/*--------------------------------*/

/*Aquí aplicamos el color green a todos los (p) parrafos despues del img hasta el titulo "Ubicación"
img ~ p{
    background: green;
}*/

/*Aquí aplicamos el color darkorange a todos los parrafos hasta el titulo "Ubicación", excepto el parrafo de nuestra mision
.principal p:not(#mision){
    background: darkorange;
}*/

/*------------------------------------------------------------------------------------------------------------*/
/*Espaciamiento interno del section principal y el color de fondo*/
.principal{
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}
/*Fin espaciamiento*/

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}


.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

/*Imagen debajo del banner*/
.utensilios{
    width: calc(40% - (40px * 6));
    float: left;
    margin: 0 20px 20px 0;
}
/*Fin img utensilios*/
/*------------------------------------------------------------------------------------------------------------*/
/*Sección de mapa Google Maps*/
.mapa{
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888);
}

.mapa p{
    margin: 0 0 2em 0;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}
/*Fin mapa*/

.diferenciales{
    padding: 3em 0;
    background: #888888;
}
.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top; 
}

.items{
    line-height: 1.5;
}

.items::before{
    content: "❉";
}

.items:first-child{
    font-weight: bold;
}

.imagen-diferenciales{
    width: 60%;
    transition: 800ms;
}
.imagen-diferenciales:hover{
    opacity: 85%;
    box-shadow: 10px 10px 30px 15px #000000
}

.video{
    width: 560px;
    margin: 3rem auto;
    transition: 800m;
}
.video:hover{
    box-shadow: 10px 10px 50px 15px #000000;
}

@media screen and (max-width:1080px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
        width: auto;
        margin: 0 10%;
    }
    .producto{
        width: auto;
        margin: 0 10%;s
    }
    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }
    .enviar{
        width: auto;
    }
}